<div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default text-left">
        <div class="panel-body">
          <p contenteditable="true"> Quick post... </p>
          <button type="button" class="btn btn-default btn-sm">
            <span ></span> Post
          </button>     
        </div>
      </div>
    </div>
  </div>